@charset "utf-8";

.UIView {
    main-color:#df1663;
    background-color:clear;
    active-color: #DADADA;
    corner-radius:0;
    masks-to-bounds:true;
    padding:0;
    font-family:AvenirNext-Regular;
    font-size:14;
}

.UIButton {
    height:40;
    corner-radius:0;
    padding-top:5;
    padding-left:15;
    padding-bottom:5;
    padding-right:15;
    background-color:rgba(255,0,0,0.5);
    font-family:AvenirNext-Bold;
    font-size:18;
    title-color-normal:black;
}

.UITextField {
    background-color:lightgreen;
    height:40;
    padding:10;
    placeholder-text-color=lightyellow;
    placeholder-text="...."
}

.Page {
    padding:"0.05*screen-width";
    background-color:#EFEFF4;
    width:screen-width;
    height:screen-height;
}

.ScrollViewPage {
    padding:"0.05*screen-width";
    background-color:#EFEFF4;
    width:screen-width;
    height:screen-height;
}

.FullWidth {
    width:"0.9*parent-width";
    positions:"hcenter parent"
}

.HalfWidth {
    width:"0.425*parent-width";
}

.LoginPage {
    form-field-margin-top:300;
    background-color:img("Roberto_Splash_1d.jpeg");
    background-color-effect:gray;
}

.CancelBtn {
    background-color:clear;
    width:40;
    height:40;
    padding-top:0;
    padding-left:0;
    padding-bottom:0;
    padding-right:0;
    title-normal:X;
    title-color-normal:white;
}

.PasswordField {
    secureTextEntry:true;
    placeholder-text:password;
}

.EmailField {
    placeholder-text:email;
}

#firstNameField {
    placeholder-text:"first name";
    positions:"below parent 0.5*parent-height;hcenter parent";
    padding:8;
}

#lastNameField {
    placeholder-text:"last name";
    positions:"below firstNameField 2;hcenter parent";
    padding:8;
}

.UserLabelOnMenu {
    color:white;
}

.LoginBtn {
    positions:"above parent 55;hcenter parent";
    title-normal: "sign in"
}
